# Bytecode / cache
__pycache__/
*.py[cod]

# Virtual envs
.env/
.venv/
*.egg-info/
*.ipynb_checkpoints/
*/__pycache__/

# Data & outputs
/data/raw/**
/data/processed/**
data/processed/*.csv
data/processed/*.json
!data/processed/metadata/
!data/processed/metadata/**



# OS files
.DS_Store
Thumbs.db